.git
.env
**/.DS_Store
**/.env
**/__pycache__
**/*.pyc

backend/.coverage
backend/.pytest_cache
backend/.ruff_cache
backend/.venv
backend/.env
backend/keys/*.pem

frontend/.claude
frontend/.env
frontend/dist
frontend/node_modules

e2e/node_modules
e2e/test-results
e2e/playwright-report

internal-docs
